body {
    background: black;
    font-family: sans-serif;
    color: #fff;
}

.homeimg {
    background: no-repeat bottom / cover url(Homepagepic.jpg);
    height: 250px;
    border-radius: 20px;
    padding-right: 500px;
}

.links {
    padding-left: 1500px;
}
